<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593722591386-7m9db9mqaf05lmcfqnksdpjcfidqt0aq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593722591386-7m9db9mqaf05lmcfqnksdpjcfidqt0aq</string>
	<key>API_KEY</key>
	<string>AIzaSyCe-SHFS836_J1cvEj_k_rrYcadKyTqioI</string>
	<key>GCM_SENDER_ID</key>
	<string>593722591386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.upstanders</string>
	<key>PROJECT_ID</key>
	<string>upstanders-896fd</string>
	<key>STORAGE_BUCKET</key>
	<string>upstanders-896fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593722591386:ios:3d0fc1bb714ff46e31f723</string>
</dict>
</plist>